body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
p{
    line-height: 2;
    font-size: 1.2rem;
}
h1{
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.Top{
  background-color: #D4ECDD;
  position: relative;
  padding-top: 100px;

}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.dp{
  width: 200px;

}
.grow{
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.new{
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}
a{
  color: #11999E;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
hr{
  border-style: none;
  border-bottom-style: dotted;
  color: #EAF6F6;
  width: 5%;
  border-width: 8px;
  margin: 100px auto;
}
.cr{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.cont-mess{
  width: 30%;
  margin: 40px auto 60px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px ;
}
.intro{
  width: 30%;
  margin: auto;
}
.footer-link:hover{
  color: #eaf6f6;
  font-size: 19px;

}



.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px 40px 20px 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #1F628D 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
h1 {
  
  text-shadow: 2px 2px 4px #000000;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
.grid-container {
  display: grid;
  grid-gap: 50px 100px;
}
